Cython==0.29.24
scikit-learn==0.24.2
numpy==1.21.4  # Adjusted for compatibility
av==10.0.0
mediapipe==0.10.0
opencv-python==4.5.5.62  # Adjusted for compatibility
opencv-contrib-python==4.5.5.62  # Adjusted for compatibility
streamlit-webrtc==0.45.0
streamlit==1.23.1

